* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial";
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f8f8f8;
}

@font-face {
  font-family: Monument;
  src: url(MonumentExtended-Regular.otf);
}

@font-face {
  font-family: Monument;
  font-weight: bold;
  src: url(MonumentExtended-Ultrabold.otf);
}

#main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding-top: 1px;
}

#nav {
  margin-top: 2vw;
  height: 12vh;
  width: 100%;
  /* background-color: red; */
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav > h1 {
  /* background-color: blue; */
  height: 100%;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Monument";
  font-weight: bold;
  font-size: 2.9vw;
  letter-spacing: -3px;
}

#nav > h2 {
  /* background-color: blue; */
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
  font-size: 1.5vw;
  font-weight: 900;
}

#nav > h2:nth-last-child(1) {
  width: 15%;
  /* background-color: red; */
  padding-right: 8vw;
  font-size: 1.9vw;
}

#nav > h2:nth-last-child(2) {
  width: 24%;
}

#center {
  height: 84.3%;
  width: 100%;
  /* background-color: red; */
  padding: 3vw 6vw;
  position: relative;
}

#content {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  position: relative;
}

#content > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: 55%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.24); */
  /* box-shadow: 10px;     */
  padding: 3vw;
}

#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 3vw;
}

#over1 > h1 {
  font-family: "Monument";
  font-size: 3.6vw;
}

#over1 > h2 {
  font-size: 1vw;
  padding: 2.1vw 2.2vw;
  /* background-color: blue;  */
  border-radius: 50%;
  border: 1px solid #fff;
  border-bottom: 2px solid #fff;
}

#over2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #fff;
  padding: 1.5vw 0;
}

#over2 > h4 {
  font-size: 1.3vw;
  font-weight: 500;
  color: #fff;
}

#over2 > img {
  height: 9vh;
}

#scroll {
  height: 30vh;
  width: 100%;
  background-color: #f8f8f8;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#scroll img {
  /* display: none; */
  height: 63%;
  width: 9%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin: 2vw;
  margin-top: 3vw;
}

#scroll img:nth-last-child(1) {
  object-position: right;
}

#scroll img:nth-last-child(8) {
  object-position: right;
}

#container {
  height: 100%;
  width: 115%;
  /* background-color: blue; */
  display: inline-block;
  animation-name: anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#alphabets {
  height: 11vh;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#alphabets > h5 {
  font-size: 1.7vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  border-bottom: 2px solid #000;
  margin-right: 2vw;
}

#alphabets > h6 {
  font-size: 1.3vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  /* border-bottom: 2px solid #000; */
  padding: 0.3vw 0.4vw;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: all ease 0.2s;
}

#alphabets > h6:hover {
  border: 2px solid black;
}

#page2 {
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw 5vw;
}

#page2-part1 {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
}

#page2-part1 > img {
  height: 90vh;
  object-fit: cover;
  object-position: center;
}

#page2-part1 > h1 {
  font-size: 3vw;
  font-family: "Monument";
  /* margin-top: 50vw; */
  padding-top: 2vw;
}

#page2-part2 {
  height: 100%;
  width: 42%;
}

#page2-part2 > img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

#text1 {
  height: 18vh;
  width: 50%;
  /* background-color: red; */
}
#text2 {
  height: 18vh;
  width: 50%;
  /* background-color: red; */
}

#text {
  height: 18vh;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
}

#text1 > h1 {
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-weight: 900;
  letter-spacing: 0.2vw;
  padding: 1.4vw 0;
}

#text2 > p {
  font-size: 1.1vw;
  padding: 1.4vw 0;
}

#page3 {
  height: 78vh;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  padding-top: 3vw;
  padding-left: 3vw;
  align-items: center;
  justify-content: space-between;
  padding-right: 7vw;
}

#page3-left {
  height: 100%;
  width: 40%;
  /* background-color: red;    */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#page3-left > h3 {
  font-size: 1.5vw;
}

#images {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#img1 {
  object-fit: cover;
  /* display: flex;
    align-items: center; */
  /* justify-content: center; */
  animation-name: rotate;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  mix-blend-mode: multiply;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#img2 {
  position: absolute;
  display: flex;
  align-items: center;
  mix-blend-mode: difference;
}

#page3-right {
  height: 100%;
  width: 50%;
  /* background-color: red; */
  background-image: url(https://images.unsplash.com/photo-1498746607408-1e56960e3bdd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#page4 {
  height: 90vh;
  width: 100%;
  padding: 6vw;
}

#page4 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#page5 {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  position: relative;
  padding: 5vw 4vw;
}

#page5 > h1 {
  text-align: center;
  font-family: "Monument";
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 600;
  margin-bottom: 11vh;
}

.elem {
  height: 15vh;
  width: 100%;
  /* background-color: red; */
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: relative;
}

.elem > img {
  height: 15vh;
  width: 10vw;
  position: absolute;
  border-radius: 50%;
  left: 10%;
  opacity: 0;
  transition: all ease 0.7s;
  object-fit: cover;
}

.elem:nth-last-child(3) img {
  left: 40%;
}

.elem:nth-last-child(1) img {
  left: 40%;
}

.elem-part2 {
  width: 45%;
}

.elem-part2 > h1 {
  font-size: 2.7vw;
  font-weight: 500;
  letter-spacing: -0.1vw;
}

.elem-part2 > h5 {
  font-size: 0.8vw;
  font-weight: 600;
  text-transform: uppercase;
}

.elem > h4 {
  font-size: 1.1vw;
  text-transform: uppercase;
  font-weight: 500;
  width: 6%;
  padding-bottom: 2vw;
}

.elem:nth-last-child(1) {
  border-bottom: 2px solid black;
}

.elem:hover img {
  opacity: 1;
  left: 25%;
}

#page6 {
  height: 90vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

#page6-left {
  height: 100%;
  width: 50%;
  /* background-color: blue; */
  padding-top: 4vw;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-bottom: 3vw;
}

#page6-img {
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  background-image: url(https://plus.unsplash.com/premium_photo-1669704098750-7cd22c35422b?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#page6-right {
  height: 100%;
  width: 40%;
  /* background-color: green; */
}

#right-top {
  height: 50%;
  width: 100%;
  /* background-color: aqua; */
  padding-top: 4vw;
  gap: 2vw;
}

#right-top > h1 {
  font-size: 2.3vw;
  font-family: "Monument";
  text-transform: uppercase;
  padding-bottom: 2vw;
}

#right-top > h4 {
  font-size: 1.3vw;
  font-weight: 900;
  line-height: 1.5vw;
  padding-bottom: 2vw;
}

#right-top > p {
  font-size: 1.1vw;
}

#right-bottom {
  height: 50%;
  width: 100%;
  /* background-color: salmon; */
  display: flex;
  flex-direction: row;
}

#bottom-left {
  height: 100%;
  width: 64%;
  /* background-color: burlywood; */
  padding-right:2vw;
  padding-bottom: 3vw;
}

#bleft-img{
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1579493934830-eab45746b51b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 20%;
}

#bottom-right {
  height: 100%;
  width: 36%;
  /* background-color: mediumvioletred; */
  padding-bottom: 3vw;
}

#bright-img{
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1613498382159-0972b7b4c9f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 20%;
}

#page7 {
  height: 90vh;
  width: 100%;
  padding: 6vw;
}

#page7 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}